.flex-container {
    background-color: aqua;
    width: 50%;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
  }

  .flex-container > div {
    background-color:orangered;
    color: white;
    width: 9rem;
    text-align: center;
    line-height: 2rem;
    font-size: 15px;
  }