.flex-container {
    background-color: aqua;
    width: 50%;
    justify-content: space-between;
    align-content: flex-end;
    margin: 0.5rem;
  }

  .flex-container > div {
    background-color:orangered;
    color: white;
    width: 9rem;
    margin: 0.7rem;
    text-align: center;
    line-height: 2rem;
    font-size: 15px;
    margin: 0;
    margin-top: 3rem;
  }

  #flex-container1 {
    display: inline-flex;
    flex-direction: row;
  }

  #flex-container2 {
    display: inline-flex;
    flex-direction: row-reverse;
  }