*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

/* ÃNDICE */

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
}

.header a {
  color: #000000;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

.header a:hover {
  color: rgb(66, 146, 212);
  transition-duration: 0.5s;
}

iframe {
  display:block;
  width:100%;
  border:none;
  height:90vh;
}

/*
    - Usar transition CSS
    - https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
    - Tooltip

*/

/* HOME */
.flex-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cover {
  height: 50%;
  background-image: url("img/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

hr {
  background-color: dodgerblue;
  color: dodgerblue;
  border-style: none;
  border-radius: 2px;
  height: 5px;
  width: 25px;
  margin-left: 0px;

}

.products {
  height: 50%;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.products > div {
  height: 12em;
  width: 6em;
  margin-left: 100px;
  margin-right: 100px;
  float: none;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
}

#hide {
  display: none;
  transform: translateY(-28%);
}

.products > div:hover #hide {
  display: block;
  height: 100%;
  background-image: url("img/bag.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: left bottom;
}


.products > div > p {
  transform: translateY(15em);
  font-size: 12px;
}

#price {
  color: dodgerblue;
}

#product1 {
  background-image: url("img/1.jpg");
}
#product2 {
  background-image: url("img/2.jpg");
}
#product3 {
  background-image: url("img/3.jpg");
}
#product4 {
  background-image: url("img/4.jpg");
}
#product5 {
  background-image: url("img/5.jpg");
}
#product6 {
  background-image: url("img/6.jpg");
}
#product7 {
  background-image: url("img/7.jpg");
}
#product8 {
  background-image: url("img/8.jpg");
}

/* PRODUCTS */
/* ABOUT */
/* CONTACT */